.header {
    background-color: rgb(37, 67, 91);
    height: 100px;
    margin-bottom: 3rem;
}

.header h1 {
    color: #fff;
    font-size: 2.4rem;
}

.social-media {
    width: 70px;
    height: 70px;
}