*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(29,42,53);
  color : #fff;
}

a {
  cursor: pointer;
  text-decoration: none;
  font-size: 1.2rem !important;
}

i {
  cursor: pointer;
}


i>svg:hover {
  transform: scale(1.1);
}

